<section class="shell">
  <nav class="bg-black/90  border-white/10">
    <div class="fixed top-0 w-full z-50 px-8 py-4 flex items-center justify-between backdrop-blur-sm ">

      <span routerLink="/" class="text-xl font-bold text-white tracking-widest mr-5 cursor-pointer">CINEMA</span>

      <div class="hidden md:flex gap-8 items-center text-sm text-gray-300">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Inici</a>
        <a routerLink="movies" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }">Pel·lícules</a>

        @if (authService.isLoggedIn()) {
        <a routerLink="favorites" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }">Favorites</a>
        <a routerLink="user-profile" routerLinkActive="active-link" [routerLinkActiveOptions]=" { exact: true } ">
          Perfil</a>

        <span>{{ authService.currentUser()?.email }}</span>
        <button class="text-red-800 hover:text-red-300 transition-colors cursor-pointer"
          (click)="authService.logout()">Tanca sessió</button>
        } @else {
        <a routerLink="/login" class="bg-red-800 text-white px-4 py-1.5 rounded-3xl transition-colors">Inicia sessió</a>
        }
      </div>

      <button class="md:hidden p-2 cursor-pointer" (click)="toggleMenu()"> ☰ </button>
    </div>

    @if (menuOpen()) {
    <div class="md:hidden px-6 py-4 flex flex-col gap-4">
      <a routerLink="/" (click)="closeMenu()">Inici</a>
      <a routerLink="movies" (click)="closeMenu()" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" > Pel·lícules </a>

      @if (authService.isLoggedIn()) {
      <a routerLink="favorites" (click)="closeMenu()" routerLinkActive="active-link" [routerLinkActiveOptions]=" { exact: true } "> Favorites </a>
      <a routerLink="user-profile" (click)="closeMenu()" routerLinkActive="active-link" [routerLinkActiveOptions]=" { exact: true } ">
        Perfil</a>

      <span>{{ authService.currentUser()?.email }}</span>
      <button class="text-red-800 hover:text-red-300 transition-colors cursor-pointer text-left"
        (click)="authService.logout()">Tanca sessió</button>
      } @else {
      <a routerLink="/login" (click)="closeMenu()" class="bg-red-800 text-white mr-auto px-4 py-1.5 rounded transition-colors">Inicia sessió</a>
      }
    </div>
    }
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer></footer>
</section>
