@if (isLoading()) {
<p>Carregant...</p>
} @else if (movie()) {
<article>
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie()!.poster_path" [alt]="'Pòster de ' + movie()!.title" />
  <h1>{{ movie()!.title }}</h1>
  <p>{{ movie()!.tagline }}</p>
  <p>{{ movie()!.release_date | date }} · {{ movie()!.runtime }} min</p>
  <p>{{ movie()!.vote_average | number:'1.1-1' }} / 10</p>

  <ul>
    @for (genre of movie()!.genres; track genre.id) {
    <li>{{ genre.name }}</li>
    }
  </ul>

  <p>{{ movie()!.overview }}</p>

  @if (director()) {
  <a [routerLink]="['/director', director()!.id]">Director: {{ director()!.name }}</a>
  }

  <h2>Repartiment</h2>
  <ul>
    @for (actor of cast(); track actor.id) {
    <li>
      <a [routerLink]="['/actor', actor.id]">{{ actor.name }} com a {{ actor.character }}</a>
    </li>
    }
  </ul>

  @if (watchProviders()) {
  <section>
    <h2>On veure-la</h2>
    @if (watchProviders()!.flatrate?.length) {
    <h3>Streaming</h3>
    <ul>
      @for (p of watchProviders()!.flatrate!; track p.provider_id){
      <li>
        <img [src]="'https://image.tmdb.org/t/p/w45' + p.logo_path" [alt]="p.provider_name">
        {{ p.provider_name }}
      </li>
      }
    </ul>
    }

    @if (watchProviders()!.rent?.length) {
    <h3>Lloguer</h3>
    <ul>
      @for (p of watchProviders()!.rent!; track p.provider_id) {
      <li>
        <img [src]="'https://image.tmdb.org/t/p/w45' + p.logo_path" [alt]="p.provider_name">
        {{ p.provider_name }}
      </li>
      }
    </ul>
    }
  </section>
  }


  @if (trailerUrl) {
  <iframe [src]="trailerUrl" width="560" height="315" frameborder="0" allowfullscreen>Tràiler</iframe>
  }
</article>
}
