@if (isLoading()) {
<p class="text-center text-gray-400 py-20">Carregant...</p>
} @else if (actor()) {
<article class="max-w-4xl mx-auto px-6 py-8">
  <div class="flex flex-col md:flex-row gap-8 mb-10">
    <img [src]="'https://image.tmdb.org/t/p/w300' + actor()!.profile_path" [alt]="'Foto de ' + actor()!.name"
      class="w-48 rounded-xl object-cover self-start shadow-xl">

    <div class="flex flex-col gap-2">
      <h1 class="text-3xl font-bold text-white">{{ actor()!.name }}</h1>
      @if (actor()!.place_of_birth) {
      <p class="text-gray-400 text-sm">Nacionalitat: {{ actor()!.place_of_birth }}</p>
      }

      @if (actor()!.birthday){
      <p class="text-gray-400 text-sm">Data de naixement: {{ actor()!.birthday | date:'longDate' }}</p>
      }

      @if (actor()!.biography){
      <p class="text-gray-300 leading-relaxed text-sm mt-2">Biografia: {{ actor()!.biography }}</p>
      }
    </div>
  </div>

  @if (movies().length) {
  <section>
    <h2 class="text-xl font-semibold text-white mb-4">Filmografia</h2>
    <ul class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 gap-4">
      @for (movie of movies(); track movie.id) {
      <li>
        <a [routerLink]="['/movie', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" [alt]="'Pòster de ' + movie.title"
            class="w-full rounded-lg group-hover:scale-105 transition-transform duration-300">
          <p class="text-xs text-gray-300 mt-1 truncate">{{ movie.title }}</p>
          @if (movie.character) {
          <p class="text-xs text-gray-500 italic">com a {{ movie.character }}</p>
          }
          <p class="text-xs text-gray-500">{{ movie.release_date | date: 'yyyy' }}</p>
        </a>
      </li>
      }
    </ul>
  </section>
  }
</article>
}
