@import 'tailwindcss';

:root {
  --color-bg: #0f0f0f;
  --color-surface: #1a1a1a;
  --color-accent: #820a36;
  --color-accent-hover: #3d0319;
  --color-text: #f5f5f5;
  --color-muted: #a0a0a0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

